<div class="col-md-4">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, class: 'form-control' %>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <%= f.label :height, "Altura (cm)" %>
    <%= f.number_field :height, class: 'form-control' %>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <%= f.label :weight, "Peso(kg)" %>
    <%= f.number_field :weight, class: 'form-control' %>
  </div>
</div>