<div  class="border rounded border-secundary p-4 ml-auto mr-auto mt-4 mb-3" style="max-width: 400px">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="actions  mt-2 mb-3">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
  </div>
<% end %>
  <%= render "devise/shared/links" %>
</div>
