<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @meal.type %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @meal.comment %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
