<%= form_for(food) do |f| %>
  <%= render 'shared/validates_errors', obj: food %>
  <div class="form-row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :grams %>
        <%= f.number_field :grams, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :calories, 'Calorias (kcal)' %>
        <%= f.number_field :calories, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :carbohydrates, 'Carboidratos (g)' %>
        <%= f.text_field :carbohydrates, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :proteins, 'Proteinas (g)' %>
        <%= f.text_field :proteins, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :total_fats, 'Gorduras totais (g)' %>
        <%= f.text_field :total_fats, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :satured_fats, 'Gorduras saturadas (g)' %>
        <%= f.text_field :satured_fats, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :dietary_fiber, 'Fibra alimentar (g)' %>
        <%= f.text_field :dietary_fiber, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :sodium_in_mg, 'Sódio (mg)' %>
        <%= f.text_field :sodium_in_mg, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :user_id %>
        <%= f.text_field :user_id, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="actions mb-3">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
  </div>
<% end %>
