<p id="notice"><%= notice %></p>
<h1>Foods</h1>
<%= form_tag foods_path, method: :get do %>
  <div class="form-row d-flex mb-2">
    <div class="col-md-4">
      <%= label_tag :name, 'Nome' %>
      <%= text_field_tag :name, params[:name], class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= label_tag :user_id, 'Usuário' %>
      <%= select_tag :user_id,
                     options_from_collection_for_select(@users, :id, :email, params[:user_id]),
                     class: 'form-control', include_blank: '' %>
    </div>
    <%= submit_tag 'Buscar', class: 'btn btn-success align-self-end' %>

  </div>
<% end %>
<div class="d-flex justify-content-between">
  <%= paginate @foods, theme: 'twitter-bootstrap-4' %>
  <div class="paginate-info">
    <%= page_entries_info @foods %>
  </div>
</div>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grams</th>
      <th>Calories</th>
      <th>Carbohydrates</th>
      <th>Proteins</th>
      <th>Total fats</th>
      <th>Satured fats</th>
      <th>Dietary fiber</th>
      <th>Sodium in mg</th>
      <th>User</th>
      <th>Medidas</th>
      <th>Adicionado em</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.grams %></td>
        <td><%= food.calories %></td>
        <td><%= food.carbohydrates %></td>
        <td><%= food.proteins %></td>
        <td><%= food.total_fats %></td>
        <td><%= food.satured_fats %></td>
        <td><%= food.dietary_fiber %></td>
        <td><%= food.sodium_in_mg %></td>
        <td><%= food.user.email rescue 'erro' %></td>
        <td><%= food.measures.map{|x| x.name } rescue 'erro' %></td>
        <td><%= food.created_at %></td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Food', new_food_path, class: 'btn btn-primary' %>
